include _newSmellCard

mixin displaySmells(smellsArr)
    |
    hr
    |
    .smellFeed
        .card-columns
            +newSmellCard
            each smell in smellsArr
                .oneSmell.card.text-center.mr-1
                    .card-header
                        .h4.smellCreator= smell.creator.username
                        if smell.kickedFrom
                            .h6.kickedFrom
                                span This smell was kicked from 
                                span.smellCreator= smell.kickedFrom.username
                    if smell.imageContent
                        img(src=smell.imageContent).smellImageContent.card-img-top
                    if smell.textContent
                        .card-body
                            h5.smellTextContent= smell.textContent
                    .card-footer
                        .licks-and-poops-and-kicks
                            //- changes to the order of these nodes or their class names may break event handlers in /public/feed.js
                            .uplicks.licks-and-poops-container
                                .lick-poop-kick-label uplick
                                if smell.uplicked
                                    .uplick-button-success.uplickButton(title='you uplicked this smell')
                                    .uplick-count.uplick-count-success= smell.uplickCount
                                else
                                    .uplick-button.uplickButton(title='uplick')
                                    .uplick-count= smell.uplickCount
                                //- if smell.uplickCount > 0
                                    //- span.lickers-poopers uplicked by: 
                                    //- span.uplickers= smell.uplickers
                                p(hidden).uplickUrl= smell.uplickUrl
                            .downpoops.licks-and-poops-container
                                .lick-poop-kick-label downpoop
                                if smell.downpooped
                                    .downpoop-button-success.downpoopButton(title='you downpooped this smell')
                                    .downpoop-count.downpoop-count-success= smell.downpoopCount
                                else
                                    .downpoop-button.downpoopButton(title='downpoop')
                                    .downpoop-count= smell.downpoopCount
                                //- if smell.downpoopCount > 0
                                //-     span.lickers-poopers downpooped by: 
                                //-     span.downpoopers= smell.downpoopers
                                p(hidden).downpoopUrl= smell.downpoopUrl
                            form(action=smell.kickUrl method='post').kick
                                .lick-poop-kick-label kick
                                button.kick-button(title='kick')
                        .smellTime= smell.dateCreated.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'}) + ' on ' + smell.dateCreated.toLocaleDateString()
                        if username === smell.creator.username
                            .delete-smell
                                p(hidden).deleteUrl= smell.deleteUrl
                                form(action=smell.deleteUrl method='delete').delete
                                button.deleteButton.btn.btn-sm.btn-danger Delete
                            